/* Gobal */

.container {
  padding: 0;
  background-color: #0a192f;
  color: #a8b2d1;
}

.topics {
  font-size: 3vw;
}

/* Navbar for small screens */

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

/*Navbar*/
.navbar {
  background-color: #0a192f;
  color: #ccd6f6;
  height: 7vh;
  font-family: "Roboto", sans-serif;
}

.name {
  flex: 1.5 0 auto;
  margin-left: 1vw;
  font-size: 2vw;
  padding: 0;
}

.links {
  padding: 0 0;
  flex: 0.5 1 auto;
  font-size: 2.5vh;
}

.navlinks :hover {
  color: #0070f3;
}

/* Need to add Navbar animations */

/* Side panel */

.panel {
  background-color: #0a192f;
  width: 3em;
  height: 95vh;
}

/* hero */
.hero {
  background-color: #0a192f;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #a8b2d1;
  padding-top: 20vh;
  padding-left: 20vw;
}

.bigheading {
  font-size: 5vw;
  margin: 0;
  line-height: 1.1;
}

.heroname {
  font-size: 5vw;
  margin: 0;
  line-height: 1.1;
  color: #e6f1ff;
  flex: 0 0 0;
}

.smhead {
  font-size: 1.2vw;
  margin: 0;
  font-weight: 400;
}

.desc {
  padding-top: 2vh;
  font-size: 18px;
  line-height: 1.3;
  color: #a8b2d1;
}

.rsbtn {
  margin-top: 20px;
  border: "2px";
  width: 100px;
  height: 50px;
  background-color: #0a192f;
  color: #e6f1ff;
  border-radius: 5px;
  border-color: #a8b2d1;
  font-size: 18px;
  font-weight: 400;
}

/* About  */

.aboutinfo {
  max-width: 50ch;
  font-size: 18px;
}

/* Skills */
.skills {
  list-style-type: none;
}

.icons {
  width: 50px;
  height: 50px;
}
